In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\swaroop\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\swaroop\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\swaroop\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\swaroop\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\swaroop\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\swaroop\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\swaroop\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv("zomato.csv",delimiter=',')
data

,Unnamed: 0.1,Unnamed: 0,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,0,0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,1,1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,2,2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,3,3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,4,4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur
...,...,...,...,...,...,...,...,...,...,...,...,...
7100,7100,7100,Zoey's,Cafe,4.3,894,600.0,Yes,No,"Cafe, Italian, Continental, Burger",Bellandur,Sarjapur Road
7101,7101,7101,ZOROY Luxury Chocolate,Dessert Parlor,4.0,68,250.0,Yes,No,Desserts,Brigade Road,Church Street
7102,7102,7102,Zu's Doner Kebaps,"Takeaway, Delivery",3.7,33,350.0,No,No,"Turkish, Fast Food, Biryani, Chinese",Malleshwaram,RT Nagar
7103,7103,7103,Zyara,Casual Dining,3.8,191,650.0,Yes,No,"North Indian, Mughlai, Chinese",Kammanahalli,HBR Layout
7104,7104,7104,Zyksha,Food Truck,3.4,9,200.0,No,No,Fast Food,Bannerghatta Road,South Bangalore

In [7]:
data.isnull

<bound method DataFrame.isnull of       Unnamed: 0.1  Unnamed: 0         restaurant name     restaurant type  \
0                0           0            #FeelTheROLL         Quick Bites
1                1           1              #L-81 Cafe         Quick Bites
2                2           2                 #refuel                Cafe
3                3           3      '@ Biryani Central       Casual Dining
4                4           4              '@ The Bbq       Casual Dining
...            ...         ...                     ...                 ...
7100          7100        7100                  Zoey's                Cafe
7101          7101        7101  ZOROY Luxury Chocolate      Dessert Parlor
7102          7102        7102       Zu's Doner Kebaps  Takeaway, Delivery
7103          7103        7103                   Zyara       Casual Dining
7104          7104        7104                  Zyksha          Food Truck

      rate (out of 5)  num of ratings  avg cost (two people) online_order  \
0                 3.4               7                  200.0           No
1                 3.9              48                  400.0          Yes
2                 3.7              37                  400.0          Yes
3                 2.7             135                  550.0          Yes
4                 2.8              40                  700.0          Yes
...               ...             ...                    ...          ...
7100              4.3             894                  600.0          Yes
7101              4.0              68                  250.0          Yes
7102              3.7              33                  350.0           No
7103              3.8             191                  650.0          Yes
7104              3.4               9                  200.0           No

     table booking                                      cuisines type  \
0               No                                          Fast Food
1               No                               Fast Food, Beverages
2               No                                    Cafe, Beverages
3               No                          Biryani, Mughlai, Chinese
4               No  BBQ, Continental, North Indian, Chinese, Bever...
...            ...                                                ...
7100            No                 Cafe, Italian, Continental, Burger
7101            No                                           Desserts
7102            No               Turkish, Fast Food, Biryani, Chinese
7103            No                     North Indian, Mughlai, Chinese
7104            No                                          Fast Food

                                area      local address
0                          Bellandur          Bellandur
1     Byresandra,Tavarekere,Madiwala                HSR
2                  Bannerghatta Road  Bannerghatta Road
3                       Marathahalli       Marathahalli
4                          Bellandur          Bellandur
...                              ...                ...
7100                       Bellandur      Sarjapur Road
7101                    Brigade Road      Church Street
7102                    Malleshwaram           RT Nagar
7103                    Kammanahalli         HBR Layout
7104               Bannerghatta Road    South Bangalore

[7105 rows x 12 columns]>

In [9]:
data.dropna

<bound method DataFrame.dropna of       Unnamed: 0.1  Unnamed: 0         restaurant name     restaurant type  \
0                0           0            #FeelTheROLL         Quick Bites
1                1           1              #L-81 Cafe         Quick Bites
2                2           2                 #refuel                Cafe
3                3           3      '@ Biryani Central       Casual Dining
4                4           4              '@ The Bbq       Casual Dining
...            ...         ...                     ...                 ...
7100          7100        7100                  Zoey's                Cafe
7101          7101        7101  ZOROY Luxury Chocolate      Dessert Parlor
7102          7102        7102       Zu's Doner Kebaps  Takeaway, Delivery
7103          7103        7103                   Zyara       Casual Dining
7104          7104        7104                  Zyksha          Food Truck

      rate (out of 5)  num of ratings  avg cost (two people) online_order  \
0                 3.4               7                  200.0           No
1                 3.9              48                  400.0          Yes
2                 3.7              37                  400.0          Yes
3                 2.7             135                  550.0          Yes
4                 2.8              40                  700.0          Yes
...               ...             ...                    ...          ...
7100              4.3             894                  600.0          Yes
7101              4.0              68                  250.0          Yes
7102              3.7              33                  350.0           No
7103              3.8             191                  650.0          Yes
7104              3.4               9                  200.0           No

     table booking                                      cuisines type  \
0               No                                          Fast Food
1               No                               Fast Food, Beverages
2               No                                    Cafe, Beverages
3               No                          Biryani, Mughlai, Chinese
4               No  BBQ, Continental, North Indian, Chinese, Bever...
...            ...                                                ...
7100            No                 Cafe, Italian, Continental, Burger
7101            No                                           Desserts
7102            No               Turkish, Fast Food, Biryani, Chinese
7103            No                     North Indian, Mughlai, Chinese
7104            No                                          Fast Food

                                area      local address
0                          Bellandur          Bellandur
1     Byresandra,Tavarekere,Madiwala                HSR
2                  Bannerghatta Road  Bannerghatta Road
3                       Marathahalli       Marathahalli
4                          Bellandur          Bellandur
...                              ...                ...
7100                       Bellandur      Sarjapur Road
7101                    Brigade Road      Church Street
7102                    Malleshwaram           RT Nagar
7103                    Kammanahalli         HBR Layout
7104               Bannerghatta Road    South Bangalore

[7105 rows x 12 columns]>

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0.1           7105 non-null   int64
 1   Unnamed: 0             7105 non-null   int64
 2   restaurant name        7105 non-null   object
 3   restaurant type        7105 non-null   object
 4   rate (out of 5)        7037 non-null   float64
 5   num of ratings         7105 non-null   int64
 6   avg cost (two people)  7048 non-null   float64
 7   online_order           7105 non-null   object
 8   table booking          7105 non-null   object
 9   cuisines type          7105 non-null   object
 10  area                   7105 non-null   object
 11  local address          7105 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 666.2+ KB

In [19]:
data.dropna

<bound method DataFrame.dropna of       Unnamed: 0.1  Unnamed: 0         restaurant name     restaurant type  \
0                0           0            #FeelTheROLL         Quick Bites
1                1           1              #L-81 Cafe         Quick Bites
2                2           2                 #refuel                Cafe
3                3           3      '@ Biryani Central       Casual Dining
4                4           4              '@ The Bbq       Casual Dining
...            ...         ...                     ...                 ...
7100          7100        7100                  Zoey's                Cafe
7101          7101        7101  ZOROY Luxury Chocolate      Dessert Parlor
7102          7102        7102       Zu's Doner Kebaps  Takeaway, Delivery
7103          7103        7103                   Zyara       Casual Dining
7104          7104        7104                  Zyksha          Food Truck

      rate (out of 5)  num of ratings  avg cost (two people) online_order  \
0                 3.4               7                  200.0           No
1                 3.9              48                  400.0          Yes
2                 3.7              37                  400.0          Yes
3                 2.7             135                  550.0          Yes
4                 2.8              40                  700.0          Yes
...               ...             ...                    ...          ...
7100              4.3             894                  600.0          Yes
7101              4.0              68                  250.0          Yes
7102              3.7              33                  350.0           No
7103              3.8             191                  650.0          Yes
7104              3.4               9                  200.0           No

     table booking                                      cuisines type  \
0               No                                          Fast Food
1               No                               Fast Food, Beverages
2               No                                    Cafe, Beverages
3               No                          Biryani, Mughlai, Chinese
4               No  BBQ, Continental, North Indian, Chinese, Bever...
...            ...                                                ...
7100            No                 Cafe, Italian, Continental, Burger
7101            No                                           Desserts
7102            No               Turkish, Fast Food, Biryani, Chinese
7103            No                     North Indian, Mughlai, Chinese
7104            No                                          Fast Food

                                area      local address
0                          Bellandur          Bellandur
1     Byresandra,Tavarekere,Madiwala                HSR
2                  Bannerghatta Road  Bannerghatta Road
3                       Marathahalli       Marathahalli
4                          Bellandur          Bellandur
...                              ...                ...
7100                       Bellandur      Sarjapur Road
7101                    Brigade Road      Church Street
7102                    Malleshwaram           RT Nagar
7103                    Kammanahalli         HBR Layout
7104               Bannerghatta Road    South Bangalore

[7105 rows x 12 columns]>

In [21]:
data.describe()

,Unnamed: 0.1,Unnamed: 0,rate (out of 5),num of ratings,avg cost (two people)
count,7105.000000,7105.000000,7037.000000,7105.000000,7048.000000
mean,3552.000000,3552.000000,3.514253,188.921042,540.286464
std,2051.181164,2051.181164,0.463249,592.171049,462.902305
min,0.000000,0.000000,1.800000,1.000000,40.000000
25%,1776.000000,1776.000000,3.200000,16.000000,300.000000
50%,3552.000000,3552.000000,3.500000,40.000000,400.000000
75%,5328.000000,5328.000000,3.800000,128.000000,600.000000
max,7104.000000,7104.000000,4.900000,16345.000000,6000.000000

In [23]:
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'restaurant name', 'restaurant type',
       'rate (out of 5)', 'num of ratings', 'avg cost (two people)',
       'online_order', 'table booking', 'cuisines type', 'area',
       'local address'],
      dtype='object')

In [29]:
data.isnull().sum()

restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [31]:
data.duplicated().sum()

0

In [33]:
data['rate (out of 5)'].std()

0.4632485953014313

In [35]:
data.isna().sum()

restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [39]:
data.head()

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur

In [41]:
restaurant_with_most_no_of_ratings=data.groupby('restaurant name',as_index=False)['num of ratings'].sum().sort_values(by='num of ratings',ascending=False).head(10)

In [43]:
restaurant_with_most_no_of_ratings

                  restaurant name  num of ratings
1034  Byg Brewski Brewing Company           16345
6661                         Toit           14956
6241              The Black Pearl           10413
782                   Big Pitcher            9272
424         Arbor Brewing Company            8375
4802               Prost Brew Pub            7854
1489         Church Street Social            7544
2635                         Hoot            7193
2150                     Flechazo            7154
6379    The Hole in the Wall Cafe            7113